@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background-color: #f5f5f4;
  color: #222;
}